<html>
<head>
<style type="text/css">
	div.topbar {
		height: 30px;
		background-color: ;
		position: absolute;
		left: 50px;
	}
	div.navigation{
		height: 30px;
		width: 600px;
		background-color: ;
		position: absolute;
		left: 50px;
		top: 50px;
	}
	
	div.content {
		position: absolute;
		top: 80px;
		left: 50px;
	}
	
	.menuitem {
		width: 100px;
		height: 30px;
		float: left;
		margin-left: 10px;
		font-size: 110%
	}
	
	div.article {
		background-color: #EEEEEE;
		padding: 10px 10px 40px 10px;
		width: 600px;
		float: left;
	}
</style>
</head>
<body>

<div class="topbar"></div>

<div class="navigation">
	<div class="menuitem"><a href="/"><b>Home</b></a></div>
	<div class="menuitem"><a href="/about">About</a></div>
	<div class="menuitem"><a href="/edit">Edit</a></div>
	<% if $credentials %>
	  <% if $credentials[0] != '' %>
		<div class="menuitem"><a href="/logout">Logout</a></div>
		<% if $credentials[0] == "Admin" %>
		  <div class="menuitem"><a href="/admincontrols">Admin Controls</a></div>
		<% end %>
	  <% else %>
		<div class="menuitem"><a href="/login">Login</a></div>
	  <% end %>
	<% else %>
	   <div class="menuitem"><a href="/login">Login</a></div>
	<% end %>
	<br><br>
</div>
<div class="content">	
<% if $credentials %> 
	<% if $credentials[0] != '' %> 	
		<br><br>
		
		<div style="width:700px;">
		<h2>Add a new post to Journal</h2>

		<p>On this page, you can find a form to upload your own paragraph into the Journal on the main page. <br>
		
		In case you want to Edit said content, click <a href='/edit'>here</a>. <br>
		Also know that you can edit other users' text only if you have rights to do so. If you don't, you can contact Admin to provide these for you.
		</p>

		<h3>Currently, the article says following:</h3>
		</div>
		<section>
			<p> <%= $myinfo %> </p>
		</section>
		<br>
		<p>Here is where you can add your text. Notice that you have to do all formatting, such as extra lines, yourself.</p>

		<form action="/create" method="post" id="edit">
			<textarea rows="20" cols="90" name="message"><%= @info %></textarea>
			<input type="submit" value="Update">
		</form>
	
	<% else %>
		<h2> You need to <a href='/login'>Login</a> into your account first to add new content. </h2>
		<p>Don't have an account? <a href='/createaccount'>Create one!</a></p>
	<% end %>
<% else %>
	<h2> You need to <a href='/login'>Login</a> into your account first to add new content. </h2>
	<p>Don't have an account? <a href='/createaccount'>Create one!</a></p>
<% end %>
</div>
</body>
</html>
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	